.top-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .account-balance {
        p {
            margin: 0;
            color: #161e2e;
            font-size: 2.1em;
            font-weight: 700;
            letter-spacing: 0.02em;
            @media screen and (max-width: 768px) {
                font-size: 1.5em;
            }
        }
        p:last-child {
            font-size: 0.9em;
            color: #6b7280;
            font-weight: 500;
            @media screen and (max-width: 768px) {
                font-size: 0.8em;
            }
        }
    }
    button {
        padding: 10px 35px;
        background-color: #161e2e;
        color: white;
        font-size: 0.9em;
        border-radius: 7px;
        border: none;
        cursor: pointer;
        [nz-icon] {
            color: white;
            font-size: 12px;
            margin-right: 5px;
        }
        @media screen and (max-width: 768px) {
            font-size: 0.8em;
            padding: 10px 20px;
            [nz-icon] {
                font-size: 10px;
            }
        }
    }
    @media screen and (max-width: 768px) {
        align-items: center;
    }
}
.tabs {
    margin-top: 20px;
    width: 100%;
    .tab-content {
        .section {
            width: 100%;
            padding-top: 30px;
            .heading {
                margin: 0;
                color: #161e2e;
                font-size: 1em;
                font-weight: 600;
                letter-spacing: 0.02em;
            }
            .account-list {
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                padding: 20px 0 0 0;
                .account-item {
                    width: 47%;
                    content: "";
                    border: solid 1px rgb(230, 230, 230);
                    margin-bottom: 5%;
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 30px;
                    cursor: pointer;
                    transition: ease all 0.4s;
                    .text1 {
                        margin: 0 0 10px;
                        color: #161e2e;
                        font-size: 1em;
                        font-weight: 700;
                        letter-spacing: 0.02em;
                    }
                    .text2 {
                        margin: 0 0 50px;
                        color: #848892;
                        font-weight: 500;
                        font-size: 0.85em;
                        letter-spacing: 0.02em;
                    }
                    img {
                        width: 35px;
                    }
                    .right {
                        height: 100%;
                        display: flex;
                        flex-flow: column;
                        align-items: flex-end;
                        justify-content: space-between;
                        [nz-icon] {
                            font-size: 20px;
                            color: #848892;
                        }
                        .text3 {
                            margin: 0;
                            color: #161e2e;
                            font-size: 1.7em;
                            font-weight: 600;
                            letter-spacing: 0.02em;
                            @media screen and (max-width: 768px) {
                                font-size: 1.2em;
                            }
                        }
                    }
                    &:hover {
                        box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1), 0px 0px 15px 2px rgba(0, 0, 0, 0.04);
                    }
                    &:nth-child(2n + 1) {
                        margin-right: 6%;
                        @media screen and (max-width: 768px) {
                            margin-right: 0;
                        }
                    }
                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }
                }
            }
            .history-list {
                width: 100%;
                padding: 20px 0 0 0;
                .history-item {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px 0;
                    border-bottom: solid 1px rgb(230, 230, 230);
                    .sec1 {
                        display: flex;
                        .status {
                            width: 40px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            margin-right: 10px;
                            [nz-icon] {
                                font-size: 18px;
                            }
                            @media screen and (max-width: 768px) {
                                width: 30px;
                                height: 30px;
                                [nz-icon] {
                                    font-size: 12px;
                                }
                            }
                        }
                        .red {
                            background-color: rgba(251, 213, 213, 1);
                            [nz-icon] {
                                color: rgba(240, 82, 82, 1);
                            }
                        }
                        .green {
                            background-color: rgba(188, 240, 218, 1);
                            [nz-icon] {
                                color: rgba(14, 159, 110, 1);
                            }
                        }
                        .title {
                            margin: 0 0 5px;
                            color: rgba(75, 85, 99, 1);
                            font-size: 0.9em;
                            font-weight: 500;
                            letter-spacing: 0.02em;
                            @media screen and (max-width: 768px) {
                                font-size: 0.8em;
                            }
                        }
                        .date {
                            margin: 0 0 5px;
                            color: rgba(159, 166, 178, 1);
                            font-size: 0.8em;
                            font-weight: 500;
                            letter-spacing: 0.02em;
                            @media screen and (max-width: 768px) {
                                font-size: 0.7em;
                            }
                        }
                        .amount1 {
                            display: none;
                            margin: 0;
                            font-size: 1em;
                            font-weight: 500;
                            letter-spacing: 0.02em;
                            @media screen and (max-width: 768px) {
                                font-size: 0.8em;
                                display: flex;
                            }
                        }
                    }
                    .text-red {
                        color: rgba(240, 82, 82, 1);
                    }
                    .text-green {
                        color: rgba(14, 159, 110, 1);
                    }
                    .amount2 {
                        margin: 0 0 5px;
                        font-size: 1.1em;
                        font-weight: 500;
                        letter-spacing: 0.02em;
                        @media screen and (max-width: 768px) {
                            font-size: 0.8em;
                            display: none;
                        }
                    }
                    button {
                        border: none;
                        background: #f4f5f7;
                        border-radius: 5px;
                        font-size: 0.9em;
                        padding: 10px 20px;
                        color: rgba(55, 65, 81, 1);
                        font-weight: 600;
                        margin-left: 10px;
                        cursor: pointer;
                        transition: ease all 0.4s;
                        &:hover {
                            box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.1), 0px 0px 15px 2px rgba(0, 0, 0, 0.04);
                        }
                        @media screen and (max-width: 768px) {
                            font-size: 0.7em;
                        }
                    }
                    @media screen and (max-width: 768px) {
                        // flex-flow: row wrap;
                    }
                }
            }
            @media screen and (max-width: 768px) {
                padding-top: 16px;
            }
        }
        .section:not(:last-child) {
            border-bottom: solid 1px rgb(230, 230, 230);
        }
    }
}
